html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex: 1;
    flex-direction: column;

    > header {
        background: #111;

        h1 {
            color: #eee;
            display: inline-block;
            margin: 1em auto;
        }

        nav {
            background: #ccc;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    display: inline-block;
                    padding: .5rem 2rem;
                    position: relative;

                    a {
                        color: #111;
                        text-decoration: none;

                        &:after {
                            bottom: 0;
                            content: '';
                            left: 0;
                            position: absolute;
                            right: 0;
                            top: 0;
                        }

                        &.here, &.here:hover {
                            color: red;
                        }
                    }

                    &:hover {
                        background: #111;

                        a {
                            color: #f5f5f5;
                        }
                    }
                }
            }
        }
    }

    main {
        flex: 1;
        padding: 3rem;
    }

    footer {
        background: #ccc;
        border-top: 3px solid orange;
        height: 100px;
    }
}
