@import "vars";

div {
  & > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      background: #eee;
      border: 1px solid #111;
      margin: 1rem;
      padding: 1rem;
    }
  }
}
